.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.icon-input {
  display: flex;
  align-items: center;
}
.feather-search {
  transform: translate(35px);
}
.searchBar {
  outline: none;
}
.feather {
  font-size: 28px;
  color: #727272;
}
.feather-settings {
  font-size: 38px;
  color: #727272;
  cursor: pointer;
}
.feather:hover,
.feather:focus {
  color: rgb(67, 147, 173);
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.marge {
  margin-top: 100px;
}
.feather-search {
  width: 20px;
  height: 20px;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.App-link {
  color: #61dafb;
}
.NavBar {
  position: fixed;
  width: fit-content;
}
.TvIcon {
  background: linear-gradient(
    90deg,
    rgba(1, 0, 36, 1) 0%,
    rgba(9, 15, 121, 1) 35%,
    rgba(0, 117, 255, 1) 100%
  );
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.link {
  color: #282c34;
}
.li:hover {
  color: rgb(0, 0, 131);
  text-decoration: none;
}
.UserIcon {
  background: linear-gradient(
    90deg,
    rgba(0, 18, 36, 1) 0%,
    rgba(9, 98, 121, 1) 35%,
    rgba(59, 0, 255, 1) 100%
  );
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.ThunderIcon {
  background: linear-gradient(
    90deg,
    rgb(150, 92, 0) 0%,
    rgb(202, 81, 0) 35%,
    rgb(255, 136, 0) 100%
  );
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.LogOutIcon {
  background: linear-gradient(
    90deg,
    rgb(255, 136, 0) 0%,
    rgb(202, 81, 0) 35%,
    rgb(150, 92, 0) 100%
  );
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.nav-content {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  width: 280px;
  transition: all 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0 10px 10px 0;
}
.nav-wrap {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05) !important;
  border-radius: 15px !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-top: 1rem !important;
  padding-bottom: 0.25rem !important;
  background-color: #fff !important;
}
.nav-caption {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  font-size: 12px !important;
  color: #adb5bd !important;
  font-weight: 600 !important;
  margin-bottom: 5px;
  padding-left: 25px;
  white-space: nowrap;
  transition: padding 0.25s;
}
.nav-content ul {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  outline: 0;
  margin-bottom: 0.25rem !important;
  padding: 0;
  margin: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.nav-content li {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 1px 5px;
}
.MainPageContainer {
  display: flex;
  flex-direction: column;
}
.MainPageBody {
  margin-top: 100px;
  background-color: #282c34;
  color: white;
  transition: all 0.5s ease;
}
.menu-icon {
  background-color: lightgray;
  border-radius: 50%;
  padding: 10px;
  color: black;
  display: flex;
}
.menu-icon:hover,
.menu-icon:focus {
  background-color: lightblue;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SignUp Style */

.Form-page {
  background-image: linear-gradient(
    90deg,
    #0c2d48 10%,
    #145da0 40%,
    #0c2d48 80%
  );
}

.group-form {
  text-align: center !important;
}

.formPage {
  background-color: hsla(207, 65%, 28%, 0.4);
  box-shadow: 2px 0px 10px 2px grey;
  width: 50%;
}

.type {
  width: 30%;
  /* border-bottom: 1px solid black !important; */
  /* border: none !important; */
}

.icon-sign-up a {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.or-sign {
  font-size: 13px;
}

.text-color {
  color: #75e6da;
}

.navigation {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  position: fixed;
  top: 0;
  flex-shrink: 0;
  width: 280px;
  height: 100vh;
  overflow: hidden;
  background: 0 0;
  transition: width 0.25s;
  padding-top: calc(90px + 6px);
  margin-left: 0;
  overflow-y: scroll;
}
.container {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1199px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.LFLF {
  width: max-content;
  position: absolute;
  top: 30em;
  margin-top: 100px;
}
@media (max-width: 1024px) {
  /* .signUp-form{
        height: 100vh !important;
    } */

  .formPage {
    width: 100% !important;
    margin: 100px 0 !important;
  }

  .formPage {
    padding: 1rem;
  }
  .SideTitle {
    display: none;
  }
}

/* ________________________________ */

.nac-wrap {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 1px 5px;
}
