.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.icon-input {
  display: flex;
  align-items: center;
}
.feather-search {
  transform: translate(35px);
}
.searchBar {
  outline: none;
}
.feather {
  font-size: 28px;
  color: #727272;
}
.feather-settings {
  font-size: 38px;
  color: #727272;
  cursor: pointer;
}
.feather:hover,
.feather:focus {
  color: rgb(67, 147, 173);
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.marge {
  margin-top: 100px;
}
.feather-search {
  width: 20px;
  height: 20px;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.App-link {
  color: #61dafb;
}
.NavBar {
  position: fixed;
  width: fit-content;
}
.TvIcon {
  background: linear-gradient(90deg, #021f7e 0%, #056ede 100%);
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.link {
  color: #282c34;
}
.li:hover {
  color: rgb(0, 0, 131);
  text-decoration: none;
}
.UserIcon {
  background: linear-gradient(90deg, #146eff 0%, #0086ff 100%);
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.ThunderIcon {
  background: linear-gradient(90deg, #ef0f71 0%, #f6383d 35%, #fe6407 100%);
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.LogOutIcon {
  background: linear-gradient(90deg, #f29d51 0%, #f2b14b 35%, #f2c74c 100%);
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
}
.MainPageBody {
  margin-top: 100px;
  background-color: #282c34;
  color: white;
  transition: all 0.5s ease;
}
.menu-icon {
  background-color: lightgray;
  border-radius: 50%;
  padding: 10px;
  color: black;
  display: flex;
}
.menu-icon:hover,
.menu-icon:focus {
  background-color: lightblue;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SignUp Style */

.Form-page {
  background-image: linear-gradient(
    90deg,
    #0c2d48 10%,
    #145da0 40%,
    #0c2d48 80%
  );
}

.group-form {
  text-align: center !important;
}

.formPage {
  background-color: hsla(207, 65%, 28%, 0.4);
  box-shadow: 2px 0px 10px 2px grey;
  width: 50%;
}

.type {
  width: 30%;
  /* border-bottom: 1px solid black !important; */
  /* border: none !important; */
}

.icon-sign-up a {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.or-sign {
  font-size: 13px;
}

.text-color {
  color: #75e6da;
}
@media (max-width: 1024px) {
  /* .signUp-form{
        height: 100vh !important;
    } */

  .formPage {
    width: 100% !important;
    margin: 100px 0 !important;
  }

  .formPage {
    padding: 1rem;
  }
  .SideTitle {
    display: none;
  }
}

/* ________________________________ */

.navbar {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: #adb5bd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #adb5bd;
  text-decoration: none;
  padding: 5px;
}

.sidebar {
  background-color: #f1f1f1;
  padding: 10px;
  width: 80%;
}

.sidebar ul {
  list-style: none;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.sidebar li a {
  display: block;
  padding: 5px;
}
.LOL {
  padding-top: 70px;
  background-color: #f4f5f7;
}
.sidebar li a:hover {
  color: #145da0;
  opacity: 0.7;}
.nac-wrap {
  --f7-theme-color: #132977;
  --bs-primary: #1e74fd;
  --bs-secondary: #673bb7;
  --bs-success: #10d876;
  --bs-info: #2754e6;
  --bs-warning: #fe9431;
  --bs-danger: #e50202;
  --bs-light: #f7f7f7;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-size: 1rem;
  font-weight: 400;
  color: #515184;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  --theme-color: #05f;
  --theme-color-rgb: 33, 150, 243;
  --theme-color-shade: #09f;
  --theme-color-tint: #1e74fd;
  font-family: Montserrat, sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 1px 5px;
}
